@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: $teal;
  }
  50% {
    transform: scaleY(1);
    background: $teal;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}


@keyframes showModalAnimation {
  from {
    opacity: 0;
    transform: translate(-50%, -65%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes hideModalAnimation {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -75%);
  }
}
