@import 'fonts';
@import 'variables';
@import 'libs/normalize';
@import './animation';
@import 'components/all';

body {
  background-color: $background;
}

main {
  padding: 3rem 0;
}

.wrapper {
  margin: 5rem 5rem 2rem;
  padding: 0 5rem;
  display: grid;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.content {
  padding: 3rem 0;

  &__title {
    margin: 2.2rem 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
    row-gap: 2rem;
  }

  &__top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 0 auto;

    .content__title {
      margin: 0;
    }
  }
}

.cart {

  b {
    margin-left: .2rem;
    font-size: calc(16px + (16 - 12) * ((100vw - 320px) / (1200 - 320)));
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }



  &__item {
    padding: 1rem 0;
    display: grid;
    grid-template-areas: "img type price"
                          "img count remove";
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: .8rem;
    column-gap: .8rem;
    width: 100%;
    border-top: 1px solid $gray-line;

    &-img {
      grid-area: img;
      img{
        width: 100%;
      }
    }

    &-info {
      align-self: center;
      p {
        font-size: calc(16px + (14 - 12) * ((100vw - 320px) / (1200 - 320)));
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-price {
      align-self: center;
    }

    &-remove {
      align-self: center;
      justify-self: end;
    }
  }
}

.cart__list{
  column-gap: 3rem;
  column-count: 3;
  break-inside: avoid-column;
  column-fill: balance;
  .cart__list-item{
    display: grid;
    row-gap: 1rem;
    grid-row-gap: 1rem;
    break-inside: avoid-column;
    &:not(:last-child){
      margin-bottom: 2rem;
      border-bottom: 3px solid #f6f6f6;
    }
    .title{
      align-self: start;
    }
  }
}

.cart__bottom {
  margin: 3rem 0;
  .cart__bottom-details{
    display: flex;
    justify-content: space-between;
  }
  .cart__bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }
}
.cart--empty{
  display: grid;
  justify-content: center;
  row-gap: .7rem;
  grid-row-gap: .7rem;
}


@media screen and (max-width: 1600px) {
  .content__items {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.5rem;
    grid-column-gap: 3.5rem;
  }
  .cart{
    p{
      font-size: 1.2rem;
    }
    b {
      font-size: 1.3rem;
    }
  }
  .cart__list{
    column-count: 2;
  }
}
@media screen and (max-width: 1260px) {
  .wrapper {
    margin: 3rem 2rem 1rem;
    padding: 0 2rem;
  }
  .cart__list .cart__list-item:not(:last-child){
    margin-bottom: 1rem;
  }

}



@media screen and (max-width: 915px) {
  .content__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart__list{
    column-count: 1;
  }
  .cart{
    p{
      font-size: 1.3rem;
    }
    b {
      font-size: 1.5rem;
    }
  }
}


@media screen and (max-width: 760px) {
  main {
    padding: 1rem 0;
  }
  .content__top{
    grid-template-columns: repeat(2, 1fr);
  }
  .content__items {
    column-gap: 2rem;
    grid-column-gap: 2rem;
  }
  .cart{
    p{
      font-size: 1.2rem;
    }
    b {
      font-size: 1.4rem;
    }
  }
  .cart--empty {
    width: 100%;

    img {
      width: 220px;
    }

    .subtitle {
      font-size: .8rem;
    }
  }
  .cart__bottom {
    margin-top: 0;
  }
  .hero-title {
    font-size: 18px;
  }
  .cart__commonList-item {
    .cart__item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1rem;
      grid-row-gap: 1rem;
      column-gap: 1rem;
      grid-column-gap: 1rem;

    }

    .cart__item-remove {
      grid-column-start: 3;
    }

    .cart__item-img img {
      width: 100px;
      height: 100px;
    }

  }

}

@media screen and (max-width: 570px) {
  .wrapper {
    margin: 1rem;
    padding: 0 1rem;
    display: grid;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  .cart{
    p{
      font-size: calc(15px + (14 - 12) * ((100vw - 320px) / (1200 - 320)));
    }
    b {
      font-size: calc(15px + (14 - 12) * ((100vw - 320px) / (1200 - 320)));
    }
  }
}


@media screen and (max-width: 500px) {
  .cart--empty {
    .hero-title {
      font-size: 1rem;
    }
  }

}

@media screen and (max-width: 450px) {
  .content__items {
    grid-template-columns: 1fr;
  }
  .cart__bottom .cart__bottom-buttons {
    display: grid;
    row-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    a{
      order: 2;
    }
    button{
      order: 1;
    }
  }
}
@media screen and (max-width: 375px) {
  .cart__item{
    grid-column-gap: .4rem;
    column-gap: .4rem;
    grid-row-gap: .4rem;
    row-gap: .4rem;
  }
  .cart{
    .textBtnMob{
      display: none;
    }
    p {
      font-size: .8rem;
    }
    b {
      margin-left: 0;
      font-size: .9rem;
    }
  }
}
