@import '../variables';

.categories {
  .dots {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
  .labelMob{
    display: none;
  }
}
@media screen and (max-width: 1160px){
  .categories {
    .dots{
      display: none;
    }
    .labelMob{
      display: block;
    }
  }
}
@media screen and (max-width: 400px){
  .categories{
    margin-bottom: .5rem;
  }
}

