@import '../variables';

.pizza-block {
  text-align: center;

  .pizza-block__image{
    width: 220px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: .1rem;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
        &.disable{
          pointer-events: none;
          opacity: .2;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
@media screen and (max-width: 750px) {
  .pizza-block__image{
    max-width: 125px;
  }
  .pizza-block__title{
    font-size: 1rem;
  }
  .pizza-block__selector ul li{
    font-size: .7rem;
  }
  .pizza-block__price{
    font-size: .9rem;
  }
}
